/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pink: hsl(322, 100%, 66%)

### Neutral

- Very Pale Cyan: hsl(193, 100%, 96%)
- Very Dark Cyan: hsl(192, 100%, 9%)
- Grayish Blue: hsl(208, 11%, 55%)

## Typography

### Body Copy

- Font size: 18px

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 600

### Body, Call-to-actions

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 700 */


@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;1,600&family=Open+Sans:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@600&display=swap');




*{
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: hsl(192, 100%, 9%) ;
    /*  by default 16 */
}

h1, h2{
    font-family: "Open Sans", sans-serif;
}
p{
    opacity: .6;
}


img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.btn{
border-radius: 50px;
background-color: #fff;
border: none;
box-shadow: 0 0 10px rgba(0,0,0,.15);
padding:15px 60px ;
font-weight: bold;
font-style: inherit;
cursor: pointer;
}

.btn-pink{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}

.container{
    margin: auto;
    padding: 0 20px;
    width: 1000px;
    max-width: 100%;
}

.center{
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
}

.flex > div, .flex ul{
    flex : 1;
}

.align-start{
    align-items: flex-start;
}

header{
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    background-size: cover;
    background-position: center center;
    padding: 40px;
}

nav{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.header-img{
    /* width: 95%; */
    margin-left: 20%;
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }